// CONTENT
$color-body-bg: #edf2f6;
$color-text: #000;
$color-heading-text: #35495e;

// LINKS
$color-link-text: #000;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONS
$color-button-bg: transparent;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: white;

$primary-color: #0057d6;
$primary-bachground-color: #edf2f6;
