@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$heading-font-family: 'Roboto';
$heading-font-weight: 600;

$content-font-family: 'Roboto';
$content-font-weight: 400;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text;
}
